@font-face {
    font-family: Herculanum; 
    src: url("../fonts/herculanum.ttf")
}

body {
    background-image: url("../images/background.png");
  
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    align-items: center;
}

.quote-box {
    text-align: center;
}

.image {
    display: block;
    height: 60px;
    width: 60px;
}

.parent-container {
    position: relative;
    width: 50%;
}

.child-container {
    position: relative;
    width: 50%;
  }

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    width: 60px;
    opacity: 0;
    transition: .1s ease;
  }
.parent-container:hover .overlay {
    opacity: 1;
}

.button {
    position: absolute;
    height: 60px;
    width: 60px;
    background: transparent;
    border: none !important;
    font-size:0;
}

.website-link {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #fff;
    font-family: Herculanum, Helvetica, sans-serif;
    font-size: 1.5em;
}

/* text fade in effect */
div p {
    font-family: Herculanum, Helvetica, sans-serif;
    font-size: 1.5em;
    color: #fff;
    text-transform: none;
    opacity: 0.0;
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    animation-fill-mode: forwards; 
    }
    
    @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
    }