<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily ATLA Quotes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="grid-container">
        <form action="/" METHOD="POST">
            <input type="submit" name="submit_button" value="prev-button">
            <!--<input type="image" class="airglider-icon" src="..\static\images\airglider4.png">-->
        </form>
        <div class="content">
            <p>{{ quote.text }}</p>
            <p> — {{ quote.author }}</p>
        </div>
        <form action="/" class="right-button" METHOD="POST">
            <!--<input type="image" class="airglider-icon" src="..\static\images\airglider2.png">-->
            <input type="submit" name="submit_button" value="next-button">
        </form>
    </div>
</body>
</html>

