<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily ATLA Quotes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="container">
        
            <div class="content">
                <p>
                    {{ quote.text }}
                </p>
                <p>
                   - {{ quote.author }}
                </p> 
                <form action="/" METHOD="POST">
                    <input type="submit" name="hi" value="Do Something">
                    <input type="submit" name="submit_button" value="Do Something Else">
                </form>


                <a href="#" METHOD="GET" ><img class="next" src="..\static\images\airglider2.png" alt=""></a>
                <a href="#" class="prev"><img class="prev" src="..\static\images\airglider4.png" alt=""></a>
            </div>

    </div>
    <div class="footer">
        <a href="https://taiseit.github.io" target="_blank">taisei</a>
    </div>

</body>
</html>

