<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily ATLA Quotes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="grid-container">
        <form action="/" METHOD="POST">
            <input type="submit" class="left-button" name="submit_button" value="prev-button">
            <!-- left hover icon -->
            <img src="..\static\images\airglider4.png" class="image" alt="">
            <div class="overlay">
                <img src="..\static\images\airglider3.png" class="image" alt="">
            </div>
        </form>
        <div class="content">
            <p>{{ quote.text }}</p>
            <p> — {{ quote.author }}</p>
        </div>
        <form action="/" class="right-button"  METHOD="POST">
            <input type="submit" class="right-button" name="submit_button" value="next-button">
            <!-- right hover icon -->
            <img src="..\static\images\airglider2.png" class="image" alt="">
            <div class="overlay">
                <img src="..\static\images\airglider1.png" class="image" alt="">
            </div>
        </form>
    </div>
</body>
</html>

